<div class="form-container">
    <p-toast></p-toast>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form p-fluid">
        <h1 class="p-text-center">REGISTER</h1>

        <div class="p-field">
            <span class="p-input-icon-left">
                <i class="pi pi-envelope"></i>
                <input id="email" type="text" formControlName="email" pInputText placeholder="Email" />
            </span>
            <p-message *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" severity="error" text="Invalid email format"></p-message>
        </div>

        <div class="p-field">
            <span class="p-input-icon-left">
                <i class="pi pi-lock"></i>
                <input id="password" type="password" formControlName="password" pInputText placeholder="Password" />
            </span>
            <p-message *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" severity="error" text="Password must be at least 6 characters long"></p-message>
        </div>

        <div class="p-field">
            <span class="p-input-icon-left">
                <i class="pi pi-lock"></i>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" pInputText placeholder="Confirm Password" />
            </span>
            <p-message *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" severity="error" text="Passwords do not match"></p-message>
        </div>

        <button type="submit" pButton label="Register" class="p-mt-3" [disabled]="registerForm.invalid"></button>

        
        <label class="p-mt-3 login-label" (click)="navigateToLogin()">Already have an account? Go to login</label>
    </form>
</div>
