/* Container settings */
.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5vh;
    height: 100vh;
    background-color: #121212;
}

/* Form styling */
.register-form {
    padding: 30px;
    background-color: #1f2937;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title styling */
.register-form h1 {
    margin-bottom: 10px; /* Adjust this value as needed */
    margin-top: 0; /* Ensures the title is flush with the top of the form */
    color: #ffffff;
    font-size: 1.8em; /* Adjust the font size if necessary */
}

/* Input group styling */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

/* Addon icon styling */
.addon-icon {
    background-color: #374151;
    padding: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #374151;
    border-right: none;
}

/* Icon styling */
.icon-envelope,
.icon-lock {
    color: #d1d5db;
    font-size: 1.2em;
}

/* Input styling */
input[type="text"],
input[type="password"] {
    padding: 12px;
    background-color: #1a1a1a;
    color: #d1d5db;
    border: 1px solid #374151;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #00b4d8;
    box-shadow: 0 0 10px #00b4d8;
    outline: none;
}

/* Button styling */
.btn-register {
    background-color: #00b4d8;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-register:hover {
    background-color: #0096c7;
}

/* No changes needed for the existing CSS */

.addon-icon i {
    color: #d1d5db;
    font-size: 1.2em;
}
