<div class="page-container">
    <p-toast></p-toast>
    <div class="chat-content" #messagesContainer>
        <div class="chat-messages">
            <app-chat-message *ngFor="let message of messages" [message]="message"></app-chat-message>
        </div>
    </div>

    <div class="form-container">
        <div class="register-form chat-input">
            <p-fileUpload #fileUploader mode="basic" name="demo[]" chooseIcon="pi pi-upload" accept=".pdf"
                maxFileSize="1000000" [auto]="false" chooseLabel="" customUpload="true"
                (uploadHandler)="onFileUpload($event)" styleClass="custom-upload-button">
            </p-fileUpload>
            <input pInputText [(ngModel)]="userInput" (keyup.enter)="sendMessage()"
                placeholder="Scrivi un messaggio..." />
            <button pButton type="button" (click)="sendMessage()" label="Invia"></button>
        </div>

    </div>

</div>